@import '../../styles/variables.scss';

.pagination_container {
  width: $container-width;
  margin: 30px auto 0;
  display: flex;
  height: 100px;
  gap: 10px;
}

.pagination_block {
  border: 1px solid #f7f8f9;
  border-radius: 5px;
  width: 25px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #cccccc;
  transition: 0.2s all;

  &:hover {
    cursor: pointer;
    border: 1px solid #d6d6d6;
    color: #929292;
  }

  &.active {
    background-color: #79b7eb;
    color: white;
    border: none;
  }
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;

  &:hover {
    cursor: pointer;
  }

  &:first-child {
    margin-right: 10px;
  }
}

.dots {
  font-size: 15px;
  display: flex;
  align-items: center;
  border: none;

  &:hover {
    border: none;
  }
}

@media (max-width: $breakpoint-lg) {
  .pagination_container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
